<div id="map" >

    <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="true" [zoom]="zoom"  [disableDefaultUI]="false" (mapClick)="addMarker($event)">

        <agm-data-layer [geoJson]="parkings" (layerClick)="clicked($event)" [style]="styleFunc" ></agm-data-layer>

        <agm-marker [iconUrl]="icon" [latitude]="latitude" [longitude]="longitude" [markerDraggable]="false" ></agm-marker>

        <div *ngFor="let m of markers;let i = index" >

            <agm-marker [iconUrl]="m.icon" [latitude]="m.lat" [longitude]="m.lng" (dragEnd)="markerDragEnd(m, $event)" [markerDraggable]="true"  (markerClick)="clickedMarker(m.label, i)">

                <agm-info-window>
                    <div id="tooltipArea">
                        <div class="popup-harta-categ"><span>Categorie: </span>{{m.category | category}}</div>
                        <div class="popup-harta-status"><span>Status sesizare: </span><span class="status-c">{{m.status}}</span></div>
                        <div class="popup-harta-descr"><span>Descriere: </span>{{m.description}}</div>
                        <div class="popup-harta-data"><span>Creat la: </span>{{m.created | date: 'MM-dd-yyyy'}}</div>
                    </div>
                </agm-info-window>

            </agm-marker>

        </div>

        <agm-circle [latitude]="latitude + 0.3" [longitude]="longitude"
                    [radius]="5000"
                    [fillColor]="'red'"
                    [circleDraggable]="true"
                    [editable]="true">
        </agm-circle>

    </agm-map>

</div>

