<div id="skin">

    <app-functions

            [addingMarkers]=_addingMarkers
            [markerPlaced]=_marketPlaced
            [newMarker]=_newMakerCoords
            [filterMarkers]=_filteredMarkers
            (changeFunctions)="changeFunctions($event)">

    </app-functions>

</div>

<div id="mapContainer" >

    <app-map

            [addingMarkers]=_addingMarkers
            [markerPlaced]=_marketPlaced
            [newMarker]=_newMakerCoords
            [filterMarkers]=_filteredMarkers
            (changeMap)="changeMap($event)">

    </app-map>

</div>


