#mapContainer {
    height: 100%;
    position: absolute !important;
    width: 100%;
}

#skin {
    display: block;
    right: 40px;
    position: absolute;
    top: 75px;
    width: 10%;
    z-index: 999;
    height: 310px;
    opacity: 1;
}
